<html>

<head>
    <title>一言</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <p id="hitokoto"></p>
    <p id="hitokotof"></p>

    <script>
        fetch('https://v1.hitokoto.cn/?c=&encode=json')
            .then(function (res) {
                return res.json();
            })
            .then(function (data) {
                var hitokoto = document.getElementById('hitokoto');
                var hitokotof = document.getElementById('hitokotof');
                hitokoto.innerText = data.hitokoto;
                hitokotof.innerText = data.from;

            })
            .catch(function (err) {
                console.error(err);
            })
    </script>
</body>

</html>