<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>上传</title>
    <link href="../static/css/upload.css" rel="stylesheet" type="text/css">
    <script src="../static/js/upload.js"></script>
    <script>
        var Qiniu_UploadUrl = "http://up.qiniu.com";
        console.error('js......')
        var xhr = new XMLHttpRequest();
            xhr.open('POST', Qiniu_UploadUrl, true);
            var formData, startDate;
            formData = new FormData();
            formData.append('file', f);
     
            xhr.onreadystatechange = function (response) {
                if (xhr.readyState == 4 && xhr.status == 200 && xhr.responseText != "") {
                    var blkRet = JSON.parse(xhr.responseText);
                    console && console.log(blkRet);
                    $("#dialog").html(xhr.responseText).dialog();
                } else if (xhr.status != 200 && xhr.responseText) {

                }
            };
            startDate = new Date().getTime();
            $("#progressbar").show();
            xhr.send(formData);
    </script>
</head>

<body>
    <ul>
        <li>
            <label for="token">token:</label>
            <input id="token" name="token" class="ipt" value="">
            <a target="blank" href="http://jsfiddle.net/gh/get/extjs/4.2/icattlecoder/jsfiddle/tree/master/uptoken">在线生成token</a>
        </li>
        <li>
            <label for="key">key:</label>
            <input id="key" name="key" class="ipt" value="">
        </li>
        <li>
            <label for="bucket">照片:</label>
            <input id="file" name="file" class="ipt" type="file" />
        </li>
        <li>
            <input id="btn_upload" type="button" value="提交">
        </li>
        <div id="progressbar">
            <div class="progress-label"></div>
        </div>
    </ul>
    <div id="dialog" title="上传成功"></div>
</body>

</html>